
<header>
  <h1>
    {{title}}
  </h1>
</header>

<main>
  
 <form action="/" method="post">
    <input type="text" name="event[id]" placeholder="insert event ID here">

    <label for="original">
      Original
      <select id="original" name="original">
        {{#each eventGroup}}
          <option>{{label}}</option>
        {{/each}}
      </select>
    </label>
    
    <label for="copy">
      Copy
      <select id="copy" name="copy"> 
        {{#each eventGroup}}
          <option>{{label}}</option>
        {{/each}}
      </select>
    </label>

    <button type="submit">Submit</button>  

  </form>
  
  <p>
    {{message}}
  </p>
</main>